<div class="navbar">
  
  <mat-toolbar color="accent">
          
    <button mat-button routerLink="/">
    <mat-icon>home</mat-icon> 
        {{title}}</button>
  
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    <!-- <span flex></span> -->
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/whatis">What is LendUp</button>
        <button mat-button routerLink="/dashboard">How LendUp Works?</button>
        <button mat-button routerLink="/dashboard">Our Products</button>
        <button mat-button routerLink="/help">What's New?</button>
        <button mat-button routerLink="/payments">Payments</button>
        <button mat-button routerLink="/client-list">Collector</button>
      </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
          
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/whatis">What is LendUp</button>
    <button mat-menu-item routerLink="/dashboard">How LendUp Works?</button>
    <button mat-menu-item>Our Products</button>
    <button mat-menu-item>What's New?</button>
    <button mat-button routerLink="/payments">Payments</button>
    <button mat-button routerLink="/client-list">Collector</button>
  </mat-menu>
  
</div>